body, html {
	background-color: #2c3e50;
	width: 100%; 
	height: 100vh;
}

.contain {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.node-label {
	pointer-events: none;
  font: 20px sans-serif;
	color: white;
	text-anchor: middle;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

.node {
	transition: fill 0.3s ease-in-out, r 0.3s ease-in-out;
	&:hover {
		fill: transparent;
		border-radius: 90;
	}	
	
}


