{% extends "MainPage.html" %}

{% block Title %}
    Home
{% endblock %}


{% block body %}
<div class="about_section">
    <h1>About Us</h1>
  </div>
  
  <div class="d-flex flex-nowrap aboutDiv">
    <div class="auto p-2">
        <div class="column">
            <div class="card_about">
              <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGg8hYmu76k6g/profile-displayphoto-shrink_400_400/0/1636960889761?e=1647475200&v=beta&t=G0tnyn4FQBSvkNE5PI_ZUB5prBbscfkSOu_MAdj5tdQ" alt="Jane" style="width:100%">
              <div class="container_about">
                <h2>Rüzgar Aykut Özcan</h2>
                <p class="title_about">DBMS Manager</p>
                <p>DBMS.</p>
                <p>ruzgar.aykut@gmail.com</p>
                <a href="https://www.linkedin.com/in/aykut-%C3%B6zcan-812ba8206/"><button class="button_about" >Contact</button></a>
              </div>
            </div>
          </div>
    </div>
    <div class="auto p-2">
        <div class="column">
            <div class="card_about">
              <img src="https://media-exp1.licdn.com/dms/image/C4E35AQEqqz3lJfIa6A/profile-framedphoto-shrink_400_400/0/1617479761975?e=1642028400&v=beta&t=LK0Ygz6hsCy37jywC8xauxU7M9z377edAjbBJ_hC6qs" alt="Mike" style="width:100%">
              <div class="container_about">
                <h2>Berk Limoncu</h2>
                <p class="title_about">Developer</p>
                <p>Python Dev</p>
                <p>berk.limoncu@gmail.com</p>
                <a href="https://www.linkedin.com/in/berk-limoncu-828a14136/"><button class="button_about" >Contact</button></a>
              </div>
            </div>
          </div>
    </div>
        
    <div class="auto p-2">
      <div class="column">
        <div class="card_about">
          <img src="https://media-exp1.licdn.com/dms/image/D5635AQFWrkj_b08qUQ/profile-framedphoto-shrink_400_400/0/1639154583198?e=1642028400&v=beta&t=i48Y8Pompszi1lypOD15wNFpU91pTpEYAT4SGf4Nf1E" alt="Mike" style="width:100%">
          <div class="container_about">
            <h2>İrfan Kaan Algan</h2>
            <p class="title_about">Developer</p>
            <p>Python Dev</p>
            <p>irfan.algan@gmail.com</p>
            <a href="https://www.linkedin.com/in/irfankaanalgan/"><button class="button_about" >Contact</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="auto p-2">
      <div class="column">
        <div class="card_about">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGWDS69TfEgrQ/profile-displayphoto-shrink_400_400/0/1625409603517?e=1647475200&v=beta&t=4tF6yg_PSG8f1l1h69JZtVk4bihoW8j7j8hE2PgNirs" alt="Mike" style="width:100%">
          <div class="container_about">
            <h2>Mahmut Sezgin</h2>
            <p class="title_about">Developer</p>
            <p>JS Dev</p>
            <p>mahmut.sezgin@gmail.com</p>
            <a href="https://www.linkedin.com/in/mahmut-sezgin-b3aba620a/"><button class="button_about" >Contact</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block welcome %}
     
     
     {% endblock %}