{% extends "MainPage.html" %}

{% block Title %}
    Contact Us 
    {% endblock %}

{%block body %}
<br><br><br>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent" >
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form action="{{ url_for('ContactUs') }}" method="POST">
                        <div class="form-subject">
                            <label>First Name</label>
                            <input type="text" class="form-control" id="fname" name="firstname" placeholder="Please Enter Your Name..">
                        </div>
                        <div class="form-subject">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lastname" placeholder="Please Enter Your Last Name..">
                        </div>
                        <div class="form-subject">
                            <label>Country</label>
                            <select id="country" name="country">
                            <option value="turkey">Turkey</option>
                                    <option value="cyprus">Cyprus</option>
                                    <option value="usa">USA</option>
                            </select>
                        </div>
                        <div class="form-subject">
                            <label>Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}
{% block main %}

{% endblock %}