{% extends "MainPage.html" %}

{% block Title %}
    Features 
{% endblock %}

{%block body %}

    <div class="image-container">
        <div class="text">ViscoMap</div>
    </div>
            <p style="text-align:center;font-size:20px;transform:translate(-50%,10%);position: absolute;left: 50%;">
                What if I told you there is a way that is capable of calculating visual complexity of a web page? Yes you didn’t  hear wrong. Let me introduce you ViscoMap, ViscoMap is a tool that can calculate visual complexity of a webpage by crawling the main URL.
                If you have a problem with the crawler in your mind, you can look at the  <a href = "https://en.wikipedia.org/wiki/Web_crawler">this URL</a>: (https://en.wikipedia.org/wiki/Web_crawler). 
                The main objective is to develop a web application that will take the URL of a website, crawl the available pages on that site, calculate the ViscoMap score for each web page and visualize the results.
                 This would allow the developers and website owners to see the complexity analysis of their website.
            </p>

            

{%endblock %}
{% block main %}

{% endblock %}