{% extends "MainPage.html" %}

{% block Title %}
    Features 
{% endblock %}

{%block body %}

    <div class="image-container">
        <div class="text">ViscoMap</div>
    </div>
            <p style="text-align:center;font-size:20px;transform:translate(-50%,10%);position: absolute;left: 50%;">
                This project is motivated to provide a web application to calculate the complexity of the whole website with components.
                This project aims to use the ViscoMap and compute and analyze the complexity of web pages on a given website.
            </p>

            <p style="text-align:center;font-size:20px;transform:translate(-50%,75%);position: absolute;left: 50%;padding-bottom: 50px;">
                The main objective is to develop a web application that will take the URL of a website, crawl the available pages on that site, 
                calculate the ViscoMap score for each web page and visualize the results. 
                This would allow the developers and website owners to see the complexity analysis of their website.

            </p>

{%endblock %}
{% block welcome %}
     
     
     {% endblock %}