<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>
        {% block Title %}
            Layout
        {% endblock %}
    </title>
    <link rel = "shortcut icon" href="static/titleIcon.png" type = "image/x-icon">
</head>
<body>
    <nav>
        <div class = "logo">
            <h4>
                <img src="static/companyLogo.png"/>
            </h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
        <div class = "burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div>
        {% block Search %}

        {% endblock %}
    </div>
    <script src="static/app.js"></script>
    <script src = "static/suggestions.js"></script>
</body>
</html>