<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>
        {% block Title %}
            ViscoMap
        {% endblock %}
    </title>
    <link rel = "shortcut icon" href="static/titleIcon.png" type = "image/x-icon">
</head>
<body>
    {% block header %}
    <header>
        <nav class="my-navbar navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="my-navbar navbar-brand" href="{{ url_for('Home') }}"><img src="static/companyLogo.png" alt="Logo" class="img-fluid" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            
                            <a class="nav-link" href="{{ url_for('Home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('Features') }}">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('About') }}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('ContactUs') }}">Contact Us</a>
                        </li>
                    </ul>
                    {% if session.get('logged_in')%}
                        <div class="btn-group">
                            <button button type="button" onclick="window.location.href='{{ url_for( 'profile' ) }}';"  class="btn btn-primary">Profile</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('projects') }}">Projects</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('editProfile') }}">Edit Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                    <div class="d-flex">
                        <button  type="button" class="btn_login" data-bs-toggle="modal" data-bs-target="#LoginModal">Login</button>
                    </div>
                    <div class="d-flex">
                        <button  type="button" class="btn_login" data-bs-toggle="modal" data-bs-target="#RegisterModal">Register</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>      
    {% endblock %}
    {% block body %}
    <div class="modal fade" id="LoginModal">
        <div class="modal-dialog">
        <div class="modal-content">
                <div class="section">
                    <div class="container">
                        <div class="row full-height justify-content-center">
                            <div class="card-3d-wra mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3 logsign">Log In</h4>
                                                <form action="{{ url_for('login') }}" method="post">
                                                <div>
                                                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="form-style"/></br></br>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>	
                                                <div>
                                                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="form-style"/></br></br>
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                {% if loginMsg %}
                                                    <div class="alert" role="alert">
                                                        <p class = "message">{{ loginMsg }}</p>  
                                                    </div>  
                                                {% endif %}
                                                <input type="submit" class="btn" id = "loginButtonModal" value="log In"></br>  
                                                <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="RegisterModal">
        <div class="modal-dialog">
        <div class="modal-content">
                <div class="section">
                    <div class="container">
                        <div class="row full-height justify-content-center">
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3 logsign">Sign Up</h4>
                                                    <form action="{{ url_for('register') }}" method="post">
                                                        <input id="username" name="username" type="text" placeholder="Enter Your Username" class="form-style"/></br></br>
                                                        {% if msg["name"] %}
                                                            <div class="alert" role="alert">
                                                                <p class = "message">{{ msg["name"] }}</p>  
                                                            </div>  
                                                        {% endif %}                                             
                                                        <input id="name" name="name" type="text" placeholder="Enter Your Name" class="form-style"/></br></br>                                      
                                                        <input id="password" name="password" type="password" placeholder="Enter Your Password" class="form-style"/></br></br>
                                                        {% if msg["email"] %}
                                                            <div class="alert" role="alert">
                                                                <p class = "message">{{ msg["email"] }}</p>  
                                                            </div>  
                                                        {% endif %}  
                                                        <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="form-style"/></br></br>
                                                        {% if msg["formFill"] %}
                                                            <div class="alert" role="alert">
                                                                <p class = "message">{{ msg["formFill"] }}</p>  
                                                            </div>  
                                                        {% endif %}  
                                                        <input type="submit" class="btn" id = "signUpButtonModal" value="Sign Up"></br>
                                                        {% if msg["success"] %}
                                                            <div class="alert" role="alert">
                                                                <p class = "message">{{ msg["success"] }}</p>  
                                                            </div>  
                                                        {% endif %}
                                                        {% if msg["user"] %}
                                                            <div class="alert" role="alert">
                                                                <p class = "message">{{ msg["user"] }}</p>  
                                                            </div>  
                                                        {% endif %}  
                                                        
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}   
     {% block welcome %}
    <div class = "mainPageContent">
        <div class = "mainHeader">
            <h1>Welcome to the ViscoMap</h1>
        </div>
        <div class ="body_main_page">

        </div>
    </div>
    

     
     {% endblock %}



    {% block footer %}
<!-- Footer -->
<footer id = "footer"class="page-footer font-small special-color-dark pt-3">

    <!-- Footer Elements -->
    <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
        <a href="#" class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
        </a>
        </li>
        <li class="list-inline-item">
        <a href="#" class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
        </a>
        </li>
        <li class="list-inline-item">
        <a href="#" class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
        </a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/irfankaanalgan/" class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
        </a>
        </li>
        <li class="list-inline-item">
        <a href="#" class="btn-floating btn-dribbble mx-1">
            <i class="fab fa-dribbble"> </i>
        </a>
        </li>
    </ul>
    <!-- Social buttons -->

    </div>
    

</footer>
{% endblock %}
<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
<script src="static/app.js"></script>
</body>
</html>