{% extends "layout.html" %}

{% block Title %}
    ViscoMap
{% endblock %}

{% block header %}
        <header>
            <nav class="my-navbar navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="my-navbar navbar-brand" href="/Home"><img src="static/companyLogo.png" alt="Logo" class="img-fluid" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </header> 
    {% endblock %}