{% extends "MainPage.html" %}

{% block Title %}
    Projects
{% endblock %}

      
{% block body %}
    {% if error %}  
    <p><strong>Error</strong>: {{error}}</p>  
    {% endif %}  
    <div class="modal fade" id="createProject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="section" id = "createProjectSection">
                    <div class="container">
                        <div class="section text-center">
                            
                            <form action="{{ url_for('projects') }}" method="POST">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input type="text" class="form-control" name="ProjectName" id="ProjectName" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>URL Address</label>
                                    <input type="text" class="form-control" name="urlAddress" id="urlAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Depth</label>
                                    <input type="text" class="form-control" name="Depth" id="Depth" placeholder="">
                                </div>
                                <br>
                                <input type="submit" class="btn btn-primary" value="Create Project">
                            </form>
                            
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-5">
        <br><br>
        {% if eror %}
            <div class="alert alert-success" role="alert">
                   <h4>{{  eror }}</h4>  
            </div>  
        {% endif %} 
        <div>
        <button  type="button" class="btn_login" data-bs-toggle="modal" data-bs-target="#createProject">Create New Project</button>
        </div>   
        <br>
        <div>
            <h3>Projects</h3>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Complexity Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for datas in data %}
                        <tr>
                            <td><a href= "/{{datas.project_id}}">{{ datas.project_name }}</a></td>
                            <td>{{ datas.complexty_score }}</td>
                            <td>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    
    
{% endblock %}

