{% extends "MainPage.html" %}

{% block Title %}
    ViscoMap
{% endblock %}


{% block body %}
<br>
<h2>{{project.project_name}}</h2>


<table class = "table">
    </tr class = "table_row">
    
        <tr>
            <td class = "table_cell">
                Complexity Score 
             </td>
            <td class = "table_cell">
                {{project.complexty_score}}
             </td>
        </tr>
        <tr>
            <td class = "table_cell">
                URL Address
             </td>
            <td class = "table_cell">
                {{project.url_address}}
             </td>
        </tr>
        <tr>
            <td class = "table_cell">
                Creation Date
             </td>
            <td class = "table_cell">
                {{project.creation_date}}
             </td>
        </tr>
  
</table>
<br>
<div>
    <div class="d-flex flex-nowrap resultDiv">
        <div class="mr-auto p-2">
            <div class="col-md-4">
                <table class = "table">
                    <tr class = "table_header">
                        <th>ID</th>
                    {% for header in headings %}
                        <th class = "table_cell">{{header}}</th>
                    {% endfor %}
                    </tr class = "table_row">
                    {% for index in df.index %}
                        <tr>
                            <td class = "table_cell">
                                {{index+1}}
                             </td>
                        <td class = "table_cell">
                            <a href= "{{df["subsite_url"][index]}}">
                            {{df["subsite_url"][index]}}
                            </a>
                         </td>
                        <td class = "table_cell">{{df["complexity_score"][index]}} </td>
                        <td class = "table_cell">{{df["complexity_range"][index]}} </td>
                        </tr>
                    {% endfor %}
                  
                </table>
                </div>
        </div>
        <div class="ml-auto p-2" id = "mapImgDiv">
            <h4>{{project.project_name}}</h4>
            <div class="col-md-4" >
                <img src = "static/images/{{project.project_name}}.png" title = "{{project.project_name}}" alt = "{{project.project_name}}"   />
            </div>
        </div>
      </div>
</div>


<div class="chart-wrap vertical col-md-5" >
</div>
    
{% endblock %}
{% block welcome %}
     
     
     {% endblock %}
